* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .row {
    margin: 8px -16px;
  }
  
 

.intro {
    display: inline-block;
}

.animated-text {
    opacity: 0;
}


  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */


  .column {
    float: left;
    width: 25%;
  }

  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: rgb(199, 153, 153);
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #729bbf;
    line-height: 1.6;
  }
  .dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
  p.messageInput{
    height: 400px;
    width: auto;
  }
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(48, 228, 195);
  }
  
  li.dropdown {
    display: inline-block;
  }
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 9px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  input[type=email] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 9px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  input[type=text]:focus {
    width: 100%;
  }
  input[type=email]:focus {
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  .topnav a:hover {
    background-color: #a3dce4;
    color: black;
  }
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  main {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
  }
  .hero.is-white .title {
    color: #141c3a;
}
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  .hero.is-white {
    background-color: #ffffff;
    color: #0a0a0a;
}
  
  .project {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  div.hero-foot {
    padding: 80px;
    
    display: flex;
    justify-content: center;
    background-color: rgb(94, 25, 25);
  }
  h2.subtitle{
    font-family: "lucida handwriting", Times, serif;
    display: flex;
    justify-content: center;
  }
  h1.title{
    font: size 90px;;
    font-family: "Georgia", Times, serif;
    display: flex;
    justify-content: center;
  }
.hero-body{
    height: 60%;
    padding: 99px;
}

  .btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .success {background-color: #3f7c65;
    border: 2px solid #0f0c0c;} /* Green */
  .success:hover {background-color: #46a049;}
 

